.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Daten_kap13.txt
Data/dyads.csv
Data/Medikament.RData
Data/NetflixOriginals.csv
Data/new_york_scores.csv
Data/short_dark_triad.csv
Data/toronto_scores.csv

